<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="flight">
            <h2><span jhiTranslate="airportApp.flight.detail.title">Flight</span> {{ flight.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="airportApp.flight.departure">Departure</span></dt>
                <dd>
                    <span>{{ flight.departure }}</span>
                </dd>
                <dt><span jhiTranslate="airportApp.flight.arrival">Arrival</span></dt>
                <dd>
                    <span>{{ flight.arrival }}</span>
                </dd>
                <dt><span jhiTranslate="airportApp.flight.airplaneF">Airplane F</span></dt>
                <dd>
                    <div *ngIf="flight.airplaneF">
                        <a [routerLink]="['/airplane', flight.airplaneF?.id, 'view']">{{ flight.airplaneF?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="airportApp.flight.airplane">Airplane</span></dt>
                <dd>
                    <div *ngIf="flight.airplane">
                        <a [routerLink]="['/airplane', flight.airplane?.id, 'view']">{{ flight.airplane?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="airportApp.flight.airport">Airport</span></dt>
                <dd>
                    <div *ngIf="flight.airport">
                        <a [routerLink]="['/airport', flight.airport?.id, 'view']">{{ flight.airport?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/flight', flight.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
